<%= @game.player_1.name %> vs. <%= @game.player_2.name %>

<%= @game.player_2.name %> HP: <%= @game.player_2.hit_points %>

<a href="/attack">Attack</a>

<!-- I could also have used a form element
(as long as I changed my feature test to use click_button instead of click_link):
<form action="/attack">
  <input type="submit" value="Attack">
</form> -->
